<h1>Users#new</h1>
<form action="/users" method="post">

  <label>Username
    <input type="text" name="user[username]" >
  </label>
  <label>Password
    <input type="text" name="user[password]" >
  </label>

<input type="submit" value="Sign Up!">
</form>
