/* PHASE 3: Layout */

.content {
  width: 900px;
  min-height: 200px;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-top: none;
  display: flex;
  background: #fff;
}
section {
  padding: 20px;


}
.content-sidebar {
  width: 200px;
  min-height: 200px;
  border-right: 1px solid #ccc;
}

.content-main {
  width: 619px;
  min-height: 200px;

}
