<h1>New Post</h1>
<form action="<%= posts_url %>" method="post">

  <label>Title
    <input type="text" name="post[title]">
  </label>

  <label>URL
    <input type="text" name="post[url]">
  </label>

  <label>Content
    <input type="text" name="post[content]">
  </label>
<br>

<input type="hidden" name="post[sub_ids][]">

  <% Sub.all.each do |sub| %>
  <label>
   <input
   type="checkbox"
   name="post[sub_ids][]"
   value="<%= sub.id %>"/>
   <%= sub.title %>
 </label>
  <% end %>

<br>
  <input type="submit" value="Create Post!">
</form>
