ul, li {
  margin: 0;
  padding: 0;
}


li {
  list-style: none;
  cursor: pointer;
  /* border: 1px solid red; */
  font-size: 60px;
  color: #000;
  background: grey;
}

ul {
  margin: 30px auto;
}
body {
  width: 900px;
  margin: 0 auto;
  text-align: center;
  font-family: sans-serif;
}
h1 {
  text-align: center;
  font-size: 60px;
}
.square {
  width: 90px;
  height: 90px;
  border: 5px solid black;
  background-color: grey;
  float: left;
}

.white {
  background-color: #fff;
}

.hover {
  background-color: yellow;
}

.message {
  font-size: 30px;
  font-weight: bold;
}
