<h3>NEW USER: SIGN UP</h3>

<form action="/users" method="post">
  <input
    type="hidden"
    name="authenticity_token"
    value=" <%= form_authenticity_token %> ">

  <label>Username
    <input type="text" name="user[email]" />
  </label>
  <br>

  <label>Password
    <input type="password"  name="user[password]" />
  </label>
  <br>

  <input type="submit" value="Create User">

</form>
