<header class="main-nav">
	<nav class="left-nav">
		<ul>
			<li id="sections-sidebar-btn">
				<i class="fa fa-bars"></i>
				<span>sections</span>
			</li>
			<li id="search-modal-btn">
				<i class="fa fa-search"></i>
				<span>search</span>
			</li>
		</ul>
	</nav>

	<nav class="right-nav">
		<ul>
			<li><button type="button" name="button">SUBSCRIBE NOW</button></li>
			<li><button type="button" name="button">LOG IN</button></li>
			<li><i class="fa fa-cog" id="gear-dropdown-btn"></i> </li>
		</ul>

		<div id= "gear-dropdown" class="hidden">
			<ul>
				<li>EDITION</li>
				<li><a href="#">CSS</a> </li>
				<li><a href="#">HTML</a> </li>
				<li><a href="#">JAVASCRIPT</a> </li>
				<li><a href="#">RUBY</a> </li>
			</ul>
			<ul>
				<li>HELP</li>
				<li> <a href="#">FAQ</a> </li>
				<li> <a href="#">Contact Us</a> </li>
			</ul>
		</div>
  </nav>


</header>
