<hr>
<section class="masthead">
  <ul class = "hr-top">
    <li><a href="#">CSS</a></li>
    <li><a href="#">HTML</a></li>
    <li><a href="#">Javascript</a></li>
    <li><a href="#">Ruby</a></li>
  </ul>

  <img src="assets/AA_Times_Logo.png"/>

  <hr>

  <ul class= "hr-bottom">
    <li> Tuesday, October 18, 2016</li>
    <li><i class="fa fa-newspaper-o" aria-hidden="true"></i>
      <a href="#">Today’s Paper</a></li>
    <li><i class="fa fa-video-camera" aria-hidden="true"></i> <a href="#">Video</a></li>
    <li id= "degree">77°F</li>
    <li id= "stock">AAO <span>+100%<span></li>
  </ul>
</section>
