body, h1, h2, ol, li, input, header, aside, section, img, a, form, label,
figcaption, figure, ul, footer, option, select, p, nav {
  margin: 0px;
  padding: 0px;
  border: 0;
  font: inherit;
}

body {
  line-height: 1.5;
}
img {
  width: 100%;
}

ol, ul {
  list-style: none;
}
