<h1>New Sub</h1>
<form action="<%= subs_url %>" method="post">

  <label>Title
    <input type="text" name="sub[title]" >
  </label>

  <label>Description
    <input type="text" name="sub[description]" >
  </label>

<input type="submit" value="Create Sub!!">
</form>
